<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Café da Manhã</title>
</head>
<body>
    <h1>Cadastro de Café da Manhã</h1>
    <form action="/cafeDaManha" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <br><br>
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf">
        <br><br>
        <label for="comida">Comida:</label>
        <input type="text" id="comida" name="comida">
        <br><br>
        <label for="dataCafeDaManha">Data Café da Manhã (dd/MM/yyyy):</label>
        <input type="text" id="dataCafeDaManha" name="dataCafeDaManha">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
